# OpenAI Configuration (For LangChain & CrewAI)
OPENAI_API_KEY=your_api_key_here
OPENAI_MODEL_NAME=gpt-4o-mini

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster0.30gbntg.mongodb.net/?appName=Cluster0  # mongodb://localhost:27017
DB_NAME=database_name_here
PORT=port_number_here
HOST=0.0.0.0